
@{
    ViewBag.Title = "Proceso";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @using (Html.BeginForm())
    {
     <div>
    <h3> Procesar la renta promedio  </h3>
    <input type="submit" name="id" value="Procesar" class="btn btn-success" />
    </div>
    }
</body>
</html>
