

@{
    ViewBag.Title = "Index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm())

    {
        <div class="row">
            <div class="col-lg col-md col-sm">

                <div class="separacion_Boton2">
                    <input type="submit" value="Actualizar" id="Actualizar" class="btn btn-success  agrandar" />
                </div>
                <div class="separacion_Boton1">
                    <a href="/Causantes/Insertar"> <input type="button" value="Insertar" class="btn btn-info text-white agrandar " /> </a>
                </div>


                
            </div>
        </div>
    }
    <a href="/Causantes/Descargar"><input type="button" name="id" value="Descargar archivo" class="btn btn-success" /></a>
</body>
</html>